<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.mehmetcerdik.ownerai.permission.BRIDGE" />
    <queries>
        <package android:name="com.codespaceapps.aichat" />
        <package android:name="com.mehmetcerdik.ownerai" />
    </queries>
    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:label="MEHMET PRIVILEGED BRIDGE"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".BridgeEvidenceActivity" android:exported="false" />
        <provider
            android:name=".BridgeControlProvider"
            android:authorities="com.mehmetcerdik.ownerbridge.control"
            android:exported="true"
            android:permission="com.mehmetcerdik.ownerai.permission.BRIDGE" />
        <service
            android:name=".BridgeAccessibilityService"
            android:exported="true"
            android:label="MEHMET PRIVILEGED BRIDGE"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>
